<h1>Update Bog!</h1>
<form action="/bogs/<%= @bog[:id] %>" method="post">
	<input type="hidden" name="_method" value="put">
	Name: <input type="text" name="bog[name]" value="<%= @bog[:name] %>"><br/>
	Description: <textarea name="bog[description]"><%= @bog[:description] %></textarea><br />
	<%= token_tag form_authenticity_token %>
	<button>Update</button>
</form>