<h1>List of Bog Creatures</h1>
<a href="/bogs/new"><button>Report New Creature</button></a>
<br />
<% @bogs.each do |bog| %>
	<h3><a href="/bogs/<%= bog[:id] %>"><%= bog[:name] %></a></h3>
	<p><%= bog[:description] %></p>
<% end %>
