<h1>Bog Finding!</h1>
<form action="/bogs" method="post">
	
	Name: <input type="text" name="bog[name]"><br/>
	Description: <textarea name="bog[description]"></textarea><br />
	<%= token_tag form_authenticity_token %>
	<button>Create Bog</button>
</form>